body{
    background-color: black;
}

/* @media screen and (max-width: 992px) { */
    .card{
        
        width: 25rem;
        height: 60%;
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        /* background-color: black; */
    
    }
  /* } */
@media screen and (max-width: 600px) {
    .card{
        width: 70%;
        height: 60%;
        margin: 0 auto;
        /* background-color: black; */
    }
}
